/* ServicesSection.css */
.servicesSection {
    padding: 40px 20px; /* Espacement autour de la section */
}

.servicesSection h2 {
    color: #333; /* Couleur foncée pour le titre de la section */
    margin-bottom: 20px; /* Espacement sous le titre de la section */
}

.servicesSection p {
    margin-bottom: 30px; /* Espacement sous le paragraphe d'introduction */
    color: #666; /* Couleur plus claire pour le texte */
    font-size: 1.1em; /* Taille légèrement plus grande pour le texte */
}
