/* MapSection.css */
.mapSection {
    text-align: center;
    padding: 2rem;
    background-color: #e6f0fa;
    color: #002855;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.mapSection h2 {
    margin-bottom: 20px;
}

.leaflet-container {
    z-index: 0 !important; /* Assurez-vous que le conteneur de la carte est bien en dessous du header */
}
