/* MapSection.css */
.mapSection {
    text-align: center;
    padding: 2rem;
    background-color: #e6f0fa;
    color: #002855;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.mapSection h2 {
    color: #001d3d;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.leaflet-container {
    z-index: 0 !important;
}

.mapSection-note {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 10px;
}
