/* ServiceCard.css */

.serviceCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    color: #002855;
    max-width: 300px;
    text-align: left;
}

.serviceCard:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.serviceCard h3 {
    color: #001d3d;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.serviceCard p {
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
