/* Header.css */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff; /* Ajoute un fond si nécessaire */
    margin-top: 20px;
}

.title {
    margin: 0;
    padding: 20px 0;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.logo {
    max-height: 200px;
    height: auto;
}

nav {
    display: block; /* Changez flex en block pour permettre au sous-menu de s'afficher en dessous */
    position: relative; /* Position relative pour le positionnement absolu du sous-menu */
}

nav > ul {
    display: flex;
    justify-content: center; /* Centre le menu principal horizontalement */
    padding: 0;
    margin: 0; /* Enlève les marges par défaut */
    list-style: none; /* Enlève les puces */
}

nav > ul > li {
    margin: 0 20px; /* Ajuste l'espacement entre les éléments du menu principal */
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    transition: color 0.3s ease; /* Transition douce pour le survol */
    font-weight: 400; /* Pour une lisibilité optimale dans le menu */
}

nav ul li a:hover,
nav ul li a:focus {
    color: #0056b3; /* Changement de couleur lors du survol */
    text-decoration: underline; /* Ajoute un soulignement au survol pour une meilleure accessibilité */
}

.subMenu {
    position: absolute; /* Positionne absolument le sous-menu par rapport à son parent nav */
    top: 100%; /* Positionne le sous-menu juste en dessous du menu principal */
    left: 0; /* Aline le sous-menu à gauche du conteneur nav */
    width: 100%; /* Le sous-menu prend toute la largeur */
    display: flex;
    justify-content: center; /* Centre les éléments du sous-menu */
    background-color: #f0f0f0; /* Couleur de fond du sous-menu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour le sous-menu */
}

.subMenu li {
    margin: 0 15px; /* Ajuste l'espacement entre les éléments du sous-menu */
}

.subMenu li a {
    color: #0056b3; /* Couleur des liens du sous-menu */
    text-decoration: none;
    transition: color 0.3s ease;
}

.subMenu li a:hover {
    color: #003974; /* Couleur au survol */
}
