/* Header.css */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff; /* Ajoute un fond si nécessaire */
    margin-top: 20px;
}

.title {
    margin: 0;
    padding: 20px 0;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.logo {
    max-height: 150px;
    height: auto;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0; /* Assurez-vous qu'il n'y ait pas de marge par défaut */
    list-style: none; /* Enlève les puces */
}

nav ul li {
    margin-left: 20px;
    padding: 10px 0; /* Ajoute un peu d'espace au-dessus et en dessous des liens */
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    transition: color 0.3s ease; /* Transition douce pour le survol */
    font-weight: 400; /* Pour une lisibilité optimale dans le menu */
}

nav ul li a:hover,
nav ul li a:focus {
    color: #0056b3; /* Changement de couleur lors du survol */
    text-decoration: underline; /* Ajoute un soulignement au survol pour une meilleure accessibilité */
}
