/* Footer.css */
footer {
    background-color: #f8f9fa; /* Couleur de fond légère pour le footer, ajustez selon votre palette de couleurs */
    text-align: center; /* Centre le texte dans le footer */
    padding: 20px 0; /* Ajoute un padding vertical pour l'espacement */
    margin-top: 30px; /* Espace entre le contenu de la page et le footer */
    border-top: 1px solid #e7e7e7; /* Ajoute une ligne séparatrice subtile */
    color: #6c757d; /* Couleur du texte, peut être ajustée */
    max-width: inherit;
}

footer p {
    margin: 0; /* Annule la marge par défaut pour aligner parfaitement le texte */
    font-size: 0.9rem; /* Taille de la police pour la lisibilité */
    line-height: 1.6; /* Hauteur de ligne pour améliorer la lisibilité */
}
