html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative; /* Contexte de positionnement pour sticky header */
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 8px;
    overflow: auto; /* Pour gérer les débordements */
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #0056b3;
    text-decoration: underline;
}
